.jquery{
    height: 90px;
}


.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 180px;
    height: 180px;
    background-color: var(--main-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;    
}



.icon > * {
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.icon:hover{
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
    background-color: var(--text-color);
   
}

.icon:hover :first-child  {
    transform: rotateY(360deg) ;
    -webkit-transform: rotateY(360deg) ;
    -moz-transform: rotateY(360deg) ;
    -ms-transform: rotateY(360deg) ;
    -o-transform: rotateY(360deg) ;
}

.icon .img  {
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.icon:hover .img  {
    transform: rotateY(360deg) ;
    -webkit-transform: rotateY(360deg) ;
    -moz-transform: rotateY(360deg) ;
    -ms-transform: rotateY(360deg) ;
    -o-transform: rotateY(360deg) ;
}

.cardImge{
    height: 300px;
}