.blackLayer{
    opacity: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.card:hover .blackLayer{
    opacity: 1;
    z-index: 100;
}

.card:hover img {
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    rotate: 5deg;
}

.card > div{
    height: 350px;
}

.image{
    height: 200px;
}

@media screen and (max-width: 768px)  {
    .image{
        width: 100%;
        height: auto !important;
    }

    .card{
        height: 350px !important;
    }
}